if TARGET_EX400

config SYS_BOARD
	default "ex400"

config SYS_VENDOR
	default "inteno"

config SYS_CONFIG_NAME
	default "ex400"

menu "inteno"

config INTENO_MAJOR
       string "Major version for inteno"
       default "0"

config INTENO_MINOR
       string "Minor version for inteno"
       default "0"

endmenu
endif
